<div class="register-container">
  <nz-card nzTitle="Criar conta" class="register-card">
    <form nz-form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzRequired>Nome</nz-form-label>
        <nz-form-control 
          nzErrorTip="O nome deve ter no mínimo 3 caracteres"
          [nzSpan]="24">
          <input 
            nz-input 
            formControlName="name" 
            placeholder="Digite seu nome"
            type="text" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzRequired>Email</nz-form-label>
        <nz-form-control 
          nzErrorTip="Por favor, insira um email válido"
          [nzSpan]="24">
          <input 
            nz-input 
            formControlName="email" 
            placeholder="Digite seu email"
            type="email" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzRequired>Senha</nz-form-label>
        <nz-form-control 
          nzErrorTip="A senha deve ter no mínimo 6 caracteres"
          [nzSpan]="24">
          <div class="password-input-wrapper">
            <input 
              nz-input 
              [type]="passwordVisible ? 'text' : 'password'" 
              formControlName="password" 
              placeholder="Digite sua senha" 
              class="password-input" />
            <button 
              type="button" 
              class="password-toggle"
              (click)="togglePasswordVisibility()"
              tabindex="-1">
              <nz-icon 
                [nzType]="passwordVisible ? 'eye' : 'eye-invisible'" 
                nzTheme="outline">
              </nz-icon>
            </button>
          </div>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control [nzSpan]="24">
          <button 
            nz-button 
            nzType="primary" 
            nzBlock 
            [nzLoading]="isLoading"
            [disabled]="!registerForm.valid">
            Cadastrar
          </button>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control [nzSpan]="24">
          <div class="register-footer">
            <span>Já tem uma conta?</span>
            <button 
              type="button"
              nz-button 
              nzType="link"
              (click)="goToLogin()"
              class="login-link">
              Fazer login
            </button>
          </div>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>
</div>
